$color-primary: #6320EE;
$color-secondary: #8075FF;
$color-accent: #50C878;
$color-danger: #EE6352;
$color-success: #65FF00;
$color-invalid: #FFCCCC;
$color-platinum: #ECEFF1;
$color-lightgray: #E6E6E6;
$color-lightblue: #668fd6;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #CCCCCC;
$color-darkgray: #858585;