$color-primary: #6320EE;
$color-secondary: #8075FF;
$color-accent: #50C878;
$color-danger: #EE6352;
$color-success: #65FF00;
$color-invalid: #FFCCCC;
$color-platinum: #ECEFF1;
$color-lightgray: #E6E6E6;
$color-lightblue: #668fd6;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #CCCCCC;
$color-darkgray: #858585;

$font-family: Nunito, Helvetica, Arial, sans-serif;

$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
